@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Define a reusable button style using Tailwind's @apply */
.button_style {
  @apply bg-black text-white text-sm font-semibold  py-2 px-4 rounded-md hover:scale-105 duration-300 transition-all;
}

/* (Optional) You can also define additional custom styles if needed */